*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_pactice{
    height: 300px;
    width: 300px;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,83,45,1) 100%);
}

.gid{
    height: 300px;
    width: 300px;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,83,45,1) 100%);
}