*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    background: red;
    height: 100px;
    width: 100px;
}

html, body, .form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}